body {
  background: linear-gradient(180deg, rgba(240, 244, 236, 1), rgba(241, 235, 226, 1) 100%);
  font-family: 'Harmonia Sans', sans-serif;
  overflow-wrap: normal;
  margin: 0;
}
header {
  text-align: center;
}
header a {
  padding: 10px;
  text-decoration: none;
  color: rgba(46, 42, 57, 0.75);
  font-size: 14px;
}

header a:hover {
  color: rgb(46, 42, 57);
  text-decoration: underline;
}

main {
  width: 90%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: unset;
}

.start_li {
  font-weight: bold;
}

#first_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#first_section h2 {
  display: block;
  width: 20%;
  height: 50%;
  background-color: #2e2a39;
  padding: 60px 70px 70px 70px;
  margin-right: -3rem;
  border-radius: 24px;
  text-align: left;
  font-size: 4vw;
  color: #fff;
  word-break: break-word;
  line-height: unset;
  box-sizing: unset;
  z-index: 1;
}

#first_section img {
  width: 50vw;
  min-width: 420px;
  border-radius: 24px;
}

#first_section h2 a {
  margin-top: 2rem;
  font-size: 16px;
  background-color: rgba(253, 251, 247);
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  color: rgba(46, 42, 57, 0.8);
}

#seconde_section {
  text-align: center;
  width: 60%;
}

#seconde_section h2 {
  font-size: 52px;
}

#seconde_section p {
  color: rgba(46, 42, 57, 0.75);
  margin: 20px 0;
  line-height: 30px;
}

.discover_product {
  line-height: 30px;
  margin: 20px auto;
}
#seconde_section a {
  display: inline-block;
  margin: 2rem;
  font-size: 16px;
  background-color: rgba(253, 251, 247);
  border: 2px solid rgba(46, 42, 57, 0.8);
  border-radius: 5px;
  padding: 15px 25px;
  text-decoration: none;
  color: rgba(46, 42, 57, 0.8);
}
#seconde_section a:hover {
  background-color: rgb(243, 225, 189);
}

#third_section {
  text-align: start;
  width: 60%;
  line-height: 30px;
}

.normal {
  margin: 20px auto;
}

.reverse {
  margin: 20px auto;
}

footer {
  height: 70px;
  background-color: rgb(243, 225, 189);
  display: flex;
  align-self: flex-end;
  margin: 0;
}

footer p {
  margin: 0;
  align-self: flex-end;
  padding-left: 10px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  width: 60%;
  line-height: 30px;
}

.actifs {
  font-weight: bold;
  font-size: 48px;
}
.product img {
  border-radius: 24px;
  margin-right: 20px;
  aspect-ratio: auto 1500 / 999;
  object-fit: cover;
  object-position: center center;
  display: block;
}

@media screen and (max-width: 1250px) {
  #seconde_section h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 950px) {
  #first_section h2 {
    font-size: 4vw;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #first_section h2 a {
    display: block;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    width: fit-content;
    padding: 10px;
  }
  #seconde_section h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 780px) {
  #first_section {
    flex-direction: column-reverse;
  }

  #first_section h2 {
    margin-right: 0;
    margin-top: -3rem;
    width: 40%;
  }
  #seconde_section h2 {
    font-size: 30px;
  }
}
